@{
    ViewBag.Title = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .imagenNosotros {
        border-radius: 5rem;
        max-width: 100%;
        height: auto;
    }
</style>

<section class="container text-center text-light">
    <h1 class="my-4">Nosotros</h1>
    <section>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <img class="imagenNosotros img-fluid" src="https://www.vinoslaconcepcion.com/img/contents/6ab5c42dd621f15bb67280ec06351778.jpg" alt="Nosotros" />
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h3>
                    Situada en el distrito La Compañía, valle de La Concepción, Tarija-Bolivia. La vocación vitivinícola del valle fue desarrollada a partir de 1690 por la orden religiosa de la Compañía de Jesús, quienes iniciaron la producción de vinos para la liturgia.
                    Somos herederos de esta tradición vitivinícola, que siglos atrás dio nombre a la región y a nuestra principal hacienda "La Compañía".
                </h3>
            </div>
        </div>
    </section>


    <section class="mt-3">
        <h2 class="my-4">
            LA EMPRESA
        </h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <img class="imagenNosotros img-fluid" src="https://www.vinoslaconcepcion.com/img/contents/a79fc1fa13243a4d3a201c35eddbaa1b.jpg" alt="Nosotros" />
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-8 text-start">
                <p>La sociedad <b>Bodegas y Viñedos de La Concepción S.A.</b>, se constituye en <b>1986</b> con el aporte de empresarios de Tarija y La Paz, en base a las haciendas de algunos accionistas.</p>

                <p>En los primeros años, la producción se concentra en vinos de mesa bajo la marca <b>La Concepción</b>.</p>

                <p><b>1986</b>, se lanza con mucho éxito al mercado el Singani Rujero.</p>

                <p><b>1991</b>, la empresa lanza al mercado los primeros vinos varietales de Bolivia, iniciando la producción de vinos más elaborados.</p>
                <p><b>1994</b>, se inicia la primera exportación de vinos y singanis a Europa y Canadá.</p>

                <p><b>1995</b>, se lanza los primeros vinos de guarda en barricas de roble.</p>

                <p><b>2004</b>, se lanzan los vinos Premium Cepas de Altura, máxima expresión de nuestros viñedos.</p>

                <p><b>2016</b>, asume el control de la sociedad el grupo boliviano IKM, que inicia una etapa de expansión de los cultivos de vid y ampliación del portafolio de productos de la empresa así como la exportación a nuevos mercados.</p>
                <br>

                <p>
                    <b>MISIÓN</b><br>
                    Preservar la tradición vitivinícola de nuestros valles tarijeños, mediante la elaboración de vinos y singanis de altura, ofreciendo a nuestros clientes alta calidad e innovación constante.
                </p>

                <p>
                    <b>VISIÓN</b><br>
                    Ser la bodega referente de Bolivia, liderando a través de la calidad de nuestros productos y el compromiso con nuestro medio-ambiente  y la sociedad, proyectando la esencia de los vinos y singanis de altura al mercado internacional.
                </p>
                <br>

                <b>VALORES</b>
                <ul>
                    <li>Pasión por lo que hacemos.</li>
                    <li>Innovación, buscando la generación de tendencias.</li>
                    <li>Calidad para el consumidor, por encima de todo.</li>
                    <li>La ambición de siempre ir por más, crecer y mejorar día a día.</li>
                    <li>Compromiso con nuestro equipo, nuestros clientes y nuestros viñedos.</li>
                    <li>Tradición. Herederos de la tradición vitivinícola del valle tarijeño.</li>
                </ul>
                <br>
                <br>

                <h2 class="text-center">SISTEMA DE GESTIÓN DE CALIDAD</h2>
                <b>Política de Calidad</b>
                <br>

                <p>
                    <b>Bodegas y Viñedos de La Concepción S.A.</b>, Bodegas y Viñedos de La Concepción S.A., sociedad enfocada a la producción de vinos y singanis de altura,
                    mantiene un Sistema de Gestión de la Calidad basado en la Norma ISO 9001:2015. Organizando su
                    funcionamiento en tres pilares básicos:
                </p>
                <ul>
                    <li>
                        La Calidad orientada hacia la Satisfacción de nuestros clientes y grupos de interés, mediante la
                        elaboración de productos que cumplan con sus necesidades, expectativas y exigencias.
                    </li>
                    <li>
                        La Calidad y Mejora Continua, que se obtiene planificando, ejecutando, revisando y mejorando el
                        Sistema de Gestión de la Calidad, considerando el contexto de la empresa.
                    </li>
                    <li>
                        La Calidad como exigencia para prestar la máxima atención a la evolución tecnológica y a las posibles
                        mejoras que se pusieran a nuestra disposición.
                    </li>
                </ul>

                <p>
                    La motivación, integración y trabajo en equipo dentro de <b>Bodegas y Viñedos de La Concepción S.A.</b>, permite
                    alcanzar el cumplimiento de los pilares establecidos, por lo que ésta Política es difundida a todo el personal.
                </p>
                <br>
                <div class="d-flex justify-content-center">
                    <a href="https://www.vinoslaconcepcion.com/docs/politica-de-calidad-bvc.pdf" target="_blank">
                        <img src="https://www.vinoslaconcepcion.com/lib/politica-calidad-bvc.jpg" alt="Politica de Calidad BVC S A" width="400" height="70">
                    </a>
                </div>

            </div>
        </div>


    </section>
</section>